<%= form_for(instruction_step) do |f| %>
  <% if instruction_step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(instruction_step.errors.count, "error") %> prohibited this instruction_step from being saved:</h2>

      <ul>
      <% instruction_step.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <%= f.hidden_field :user_instruction_id, value: @user_instruction_id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
