<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @instruction_step.title %>
</p>
<p>
	<% unless @instruction_step.image_url.nil? %><%= image_tag @instruction_step.image_url %><br /><% end %>
</p>
<p>
  <strong>Description:</strong>
  <%= @instruction_step.description %>
</p>

<%= link_to 'Edit', edit_instruction_step_path(@instruction_step) %> 
<%= link_to 'Back', edit_user_instruction_path(@user_instruction_id) %>