
       
        <% @instructions.each do |user_instruction| %>
        <tr>
          <td><%= user_instruction.instruction %></td>
          <td><%= user_instruction.date_of_creation %></td>
          <td><%= user_instruction.user.name %></td>
          <td><%= link_to 'Show', user_instruction, class: "btn btn-default"%></td>
          <td><%= link_to 'Edit', edit_user_instruction_path(user_instruction), class: "btn btn-default" %></td>
         
          <td><%= link_to 'Destroy', user_instruction, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %></td>
          
        </tr>

        <% end %>
        <tr><td class="paggination" colspan="6"><%= will_paginate @instructions %></td></tr>

       
