<%= form_for(user_instruction) do |f| %>
  <% if user_instruction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_instruction.errors.count, "error") %> prohibited this user_instruction from being saved:</h2>

      <ul>
      <% user_instruction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :instruction %>
    <%= f.text_field :instruction %>
  </div>

  <div class="field">
    <%= f.label :date_of_creation %>
    <%= f.text_field :date_of_creation, value: Date.current, readonly:'' %>
  </div>

  <div class="field">
    <%= f.label :category %>
    <%= f.select :category, options_for_select([['Наука'], ['Спорт'],['Дом'], ['Здоровье'], ['Образование'], ['Красота']], user_instruction.category) %>    
  </div>

  <div class="field">
    <%= f.label :video %>
    <%= f.text_field :video %>    
  </div> 

  <div class="field">
    <%= f.label :tag_list, "Tags" %>
    <%= f.text_field :tag_list %>    
  </div> 
      
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<style>
  .field
</style>