<div class="container">
<%= form_for(user_instruction) do |f| %>
  <% if user_instruction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_instruction.errors.count, "error") %> prohibited this user_instruction from being saved:</h2>

      <ul>
      <% user_instruction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p><%= f.label :instruction %></p>
    <p><%= f.text_field :instruction %></p>
  </div>

  <div class="field">
    <p><%= f.label :date_of_creation %></p>
    <p><%= f.text_field :date_of_creation, value: Date.current, readonly:'' %></p>
  </div>

  <div class="field">
    <p><%= f.label :category %></p>
    <%= f.select :category, options_for_select([['Наука'], ['Спорт'],['Дом'], ['Здоровье'], ['Образование'], ['Красота']], user_instruction.category) %>    
  </div>

  <div class="field">
    <p><%= f.label :video %></p>
    <p><%= f.text_field :video %></p>    
  </div> 

  <div class="field tags-wrp">
    <p><%= f.label :tag_list, "Tags" %></p>
    </span>
    <%= f.text_field :tag_list %>
    <select class="js-data-example-ajax select2-hidden-accessible" id="tags_list" multiple="multiple" style="width: 300px">
      
    </select>
    </div>
  </div>
  <div class="actions" onclick='onClickFunction()'>
    <%= f.submit %>
  </div>

<% end %>
</div>

<style>
  #tags_list {
    padding-left: 0;
    list-style-type: none;
    position: absolute;
    top:25px;
    background: white;
    z-index: 5;
    height: 40px;
    width: 100px
    overflow-y: scroll;
  }

  #tags_list li:hover,#tags_list li:active {
    background: red;
  }

  
  .tags-wrp {
    position: relative;
  }

  #user_instruction_tag_list{
    display: none;
  }

  .field {
    max-width: 500px;
    margin: auto;
  }

  .field p {
    font-size: 20px
  }

  input{
    height: 36px;
    padding: 5px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
  }

</style>

<script>
  onDocummentReady();
</script>