<div class="container">
<%= form_for(user_instruction) do |f| %>
  <% if user_instruction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_instruction.errors.count, "error") %> prohibited this user_instruction from being saved:</h2>

      <ul>
      <% user_instruction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :instruction %>
    <%= f.text_field :instruction %>
  </div>

  <div class="field">
    <%= f.label :date_of_creation %>
    <%= f.text_field :date_of_creation, value: Date.current, readonly:'' %>
  </div>

  <div class="field">
    <%= f.label :category %>
    <%= f.select :category, options_for_select([['Наука'], ['Спорт'],['Дом'], ['Здоровье'], ['Образование'], ['Красота']], user_instruction.category) %>    
  </div>

  <div class="field">
    <%= f.label :video %>
    <%= f.text_field :video %>    
  </div> 

  <div class="field tags-wrp">
    <%= f.label :tag_list, "Tags" %>
    <%= f.text_field :tag_list %>
    <select class="js-data-example-ajax" id="tags_list" multiple="multiple" style="width: 300px">
      
    </select>
    </div>
  </div>
  <div class="actions" onclick='onClickFunction()'>
    <%= f.submit %>
  </div>

<% end %>
</div>

<style>
  #tags_list {
    padding-left: 0;
    list-style-type: none;
    position: absolute;
    top:25px;
    background: white;
    z-index: 5;
    height: 40px;
    width: 100px
    overflow-y: scroll;
  }

  #tags_list li:hover,#tags_list li:active {
    background: red;
  }

  
  .tags-wrp {
    position: relative;
  }

  #user_instruction_tag_list{
    display: none;
  }

</style>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
