<% if user_signed_in? %>
      
        <% @user_instructions.each do |user_instruction| %>
        <tr>
          <td><%= user_instruction.instruction %></td>
          <td><%= user_instruction.date_of_creation %></td>
          <td><%= user_instruction.user.name %></td> 
          <td><%= link_to 'Show', user_instruction, class: "btn btn-default"%></td>         
          <% if current_user == user_instruction.user %>
            <td><%= link_to 'Edit', edit_user_instruction_path(user_instruction), class: "btn btn-default" %></td>
            
            <td><%= link_to 'Destroy', user_instruction, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %></td>
          <% end %>
        </tr>
        <% end %>
      
   
    <% else %>
      <% @user_instructions.each do |user_instruction| %>
      <tr>
        <td><%= user_instruction.instruction %></td>
        <td><%= user_instruction.date_of_creation %></td>
        <td><%= user_instruction.user.name %></td>
        <td><%= link_to 'Show', user_instruction, class: "btn btn-default"%></td>
      </tr>
      <% end %>
   

      
    <% end %>
    <tr><td class="paggination" colspan="6">
     <%= will_paginate @user_instructions %>
    </td></tr>