
<div class="container">
  <div class="row main">
    <div class="panel-heading">
      <div class="panel-title text-center">
        <h1 class="title">Instructions</h1>
      </div>
    </div>
    <div class="main-login main-center">
      <p id="notice"><%= notice %></p>
      <% javascript_include_tag 'pagination.js', 'data-turbolinks-track' => false %>
      <% if user_signed_in? %>
          <p class="hello">Hello, <%= current_user.name %>!</p>
          <br>
          <%= link_to 'New Instruction', new_user_instruction_path, class: "btn btn-default instruction" %>
          <br>
      <% else %>
          <%= link_to user_facebook_omniauth_authorize_path, class: "btn-lg btn btn-block btn-social btn-facebook" do %>
              <span class="fa fa-facebook"></span>Sign in with Facebook
          <% end %>
          <%= link_to user_vkontakte_omniauth_authorize_path, class: "btn-lg btn btn-block btn-social btn-vk" do %>
              <span class="fa fa-vk"></span>Sign in with VKontakte
          <% end %>
          <%= link_to user_twitter_omniauth_authorize_path, class: "btn-lg btn btn-block btn-social btn-twitter" do %>
              <span class="fa fa-twitter"></span>Sign in with Twitter
          <% end %>
      <% end %>
    </div>   
  </div>   
</div>
<link rel="stylesheet" type="text/css" href="jqcloud/dist/jqcloud.css"/>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>
        <script type="text/javascript" src="jqcloud/dist/jqcloud.js"></script>
        <script type="text/javascript">
            
            var word_list = [
                {text: "Lorem", weight: 13},
                {text: "Ipsum", weight: 10.5},
                {text: "Dolor", weight: 9.4},
                {text: "Sit", weight: 8},
                {text: "Amet", weight: 6.2},
                {text: "Consectetur", weight: 5},
                {text: "Adipiscing", weight: 5}
            ];
            $(function () {
                $("#example").jQCloud(word_list);
            });
        </script>
<div id="example" style="width: 550px; height: 350px; border: 1px solid #ccc;"></div>
<div id="tag_cloud">
  <% tag_cloud UserInstruction.tag_counts, %w[s m l] do |tag, css_class|%>
    <%= link_to tag.name, tag_path(tag.name), class: css_class%>
  <% end %>
</div>
<table class="table table-striped table-hover">
<colgroup>
</colgroup>
  <thead>
    <tr>
      <th>Instruction</th>
      <th>Date of creation</th>
      <th>Author</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="steps">
    <%= render 'steps' %>
  </tbody>

</table>





