<p id="notice"><%= notice %></p>
<% javascript_include_tag 'pagination.js', 'data-turbolinks-track' => false %>
<p class="p-text">
  <p class="p-text title">Instruction:</p>
  <p class="p-text val">
  <%= @user_instruction.instruction %>
  </p>
</p>
<p  class="p-text">
  <p class="p-text">Date of creation:</p>
  <p class="p-text val">
  <%= @user_instruction.date_of_creation %>
  </p>
</p>
<p class="p-text">
  <p class="p-text">Category:</p>
  <p class="p-text val">
  <%= @user_instruction.category %>
  </p>
</p>
<% if @user_instruction.video == nil %>
<p>sdsdsd</p>
<%end%>
<div class="video">
<% if @user_instruction.video == nil %>
<p>sdsdsd</p>
<%else%>
	<iframe width="560" height="315" src=<%=@user_instruction.video%> ></iframe>
  <%end%>
</div>


<div class="tags">
  <p class="p-text">Tags:</p>
  <%= raw @user_instruction.tag_list.map { |t| link_to '#' + t, tag_path(t) }.join('  ') %>
</div>
<table id="instruction">
	<%= render 'instruction' %>
</table>





