<p id="notice"><%= notice %></p>

<p>
  <strong>Instruction:</strong>
  <%= @user_instruction.instruction %>
</p>

<p>
  <strong>Date of creation:</strong>
  <%= @user_instruction.date_of_creation %>
</p>

<%= link_to 'Edit', edit_user_instruction_path(@user_instruction) %> |
<%= link_to 'Back', user_instructions_path %>
